.clear-search{
    padding: 1rem 2rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto;
    border-radius: 3rem;
    margin-top: 3rem;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    font-weight: 500;
  }
  .message{
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    font-weight: 600;
    margin: 1rem;
  }