@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;1,200&family=Ruda&display=swap');

:root{
 --white: #fff;
 --blue: #509fdf;
 --red: #d64242;
 --green: #26cf29 ;
 --grey: #838582;
 --darkgrey: #1b1b1b;
 --black: #222;
 --navyblue: #2cdfc8;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  /* height: 200vh; */
}
[data-theme="dark"] {
  --white: #fff;
  --black: #222;
  --grey: #838582;
  --darkgrey: #1b1b1b;
}
[data-theme="light"] {
  --white: #129e0d;
  --black: #ffffff;
  --grey: #150c0c;
  --darkgrey: #978a8a;
  --navyblue: #329588;
}

/* to move the scroll button smoothly */
html{
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--red);
  color: var(--grey);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey); 
}

a{
  text-decoration: none!important;
}


img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.wrapper{
  display: block;
  background-color: var(--darkgrey);
  margin: 1.5rem auto;
  border-radius: 1rem;
  width: 90%;
  padding: 1rem;
}
/* 
.cursor {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: var(--blue);
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  transition: all 200ms ease-out;
}

.cursor-pointer {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background-color: transparent;
  z-index: 10000;
  border: 2px solid var(--blue);
  height: 2rem;
  width: 2rem;
  transition: all 400ms ease-out;
}
@media only screen and (max-width: 600px) {
  .cursor-pointer,
  .cursor {
    display: none;
  }
} */

.coin-days-flex{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
}
@media only screen and (max-width: 450px) {
  .coin-days-flex{
      /* border: 1px solid rebeccapurple; */
      /* display: flex; */
      /* justify-content: space-around; */
      margin: 0.5rem;
      gap: 0;
  }
}